
<div>
  <mat-card *ngFor='let story of stories' class='story-card'>
    <mat-card-header>
      <mat-card-title>{{story.title}}</mat-card-title>
      <mat-card-subtitle>{{story.by}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="story.text" class="story-text"></div>
    </mat-card-content> 
    <mat-card-actions class="story-button">
      <a *ngIf="story.url" href={{story.url}} target="_blank" mat-raised-button color="primary">GO TO STORY</a>
    </mat-card-actions>
  </mat-card>
</div>

